body{
    width: 100%;
    height: 100%;
    }
    .menu-principal{
    width: 100%;
    background-color: #000000;
    height: 80px;
    }
    
    main {
    margin: 0 auto;
    width: 980px;
    float: left;
    position: relative;
    }
    
    .logo{
    float: left;
     padding: 16px;
     width: 70%;
     
    }
    
    .redes-sociais ul li{
    margin-left: 15px;
    display: inline-block;
    float: left;
    list-style: none;
    
    }
    
    .redes-sociais{
    width: 25%;
    float: right;
    }
    